body.bodyFlexbox {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    margin-bottom: 2rem;
}

h1 {
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#loginForm {
    margin-top: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    width: 20rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.loginBox {
    width: 20rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background: linear-gradient(to right, #4fc3f7, #3498db);
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.button:hover {
    background: linear-gradient(to right, #3498db, #2c87d0);
}

p a {
    color: #4fc3f7;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="password"] {
        width: 18rem;
    }

    .loginBox {
        width: 90%;
        padding: 1.5rem;
    }

    .button {
        width: 8rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    input[type="text"],
    input[type="password"] {
        width: 19rem;
    }

    .loginBox {
        width: 80%;
        padding: 1.8rem;
    }

    .button {
        width: 9rem;
        height: 2.8rem;
        font-size: 1rem;
    }
}

@media (min-width: 1025px) {
    input[type="text"],
    input[type="password"] {
        width: 20rem;
    }

    .loginBox {
        width: 20rem;
        padding: 2rem;
    }

    .button {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }
}

.error-message {
    display: none;
    padding: 0.8rem;
    margin-top: 0.5rem;
    background-color: #f8d7da; 
    color: #721c24; 
    border-radius: 0.4rem;
    border: 1px solid #f5c6cb;
    font-size: 0.9rem;
    position: relative; 
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    width: calc(100% - 2rem); 
    max-width: 20rem;
}

.error-message::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px; 
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f8d7da; 
    border-top: 0;
    border-left: 0;
}

.userInput, .mailInput, .passwordInput {
    position: relative; 
}

.inputField {
    position: relative; 
    margin-bottom: 0.5rem; 
}

